#results p{
    font-size: 1.5rem;
    margin: 1rem 0;
}

#results span{
    color: black;
}

#download{
    display: grid;
    place-items: center;
    margin: 3rem 0  1rem 0;
}

#download button{
    transition: all 200ms ease-in;
    border: solid 0.5px black;
    font-style: italic;
    border-radius: 5px;
}

#download button:active{
    transform: scale(0.95);
    color: black;
    border: solid 1px black;
}

#download button:hover{
    border: solid 3px white;
}